html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100vh;
    font-family: Jost, sans-serif;
    background-color: #2B2C3A;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-size: cover;
    color: #FFFFFF;
    margin: 0;
    overflow: hidden;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    color:inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.header {
    display: flex;
    font-weight: 400;
    padding: 0 45px 0 55px;
    min-height: 71px;
    line-height: 10px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation::after {
    background-color: rgba(216, 216, 216, 0.1);
    content: "";
    display: inline-block;
    height: 24px;
    width: 1px;
    margin-left: 28px;
}

.navigation-list {
    min-width: 215px;
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    font-size: 14px;
    transition: all 0.3s ease-out;
    opacity: 0.6;
}

.navigation-link:hover {
    opacity: 1;
}

.account {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.account-containers {
    display: flex;
    min-width: 504px;
    align-items: center;
    justify-content: space-between;
}

.account-coin-container {
    padding: 7px 9px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    font-size: 13px;
}

.account-coin-container:nth-child(3) {
    display: flex;
    min-width: 103px;
    align-items: center;
    justify-content: space-between;
    padding: 3px 9px 3px 3px;
}

.account-hours {
    font-weight: 600;
    font-size: 13px;
}

.account-hours-text {
    font-size: 11px;
    opacity: 0.6;
}

.rectangle {
    height: 18px;
    width: 18px;
    background-color: rgba(255, 71, 56, 1);
    box-shadow: 0 0 12px 0 rgba(255, 71, 56, 0.5);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.account-container {
    display: flex;
    min-width: 190px;
    align-items: center;
    justify-content: space-between;
}

.account-icon {
    max-width: 100%;
    height: auto;
}

.account-username {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
}

.account-pro {
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px 0 rgba(111, 110, 255, 0.5);
    padding: 0 11px 0 8px;
}

.account-status {
    font-weight: 600;
    color: #24CB8D;
    font-size: 13px;
    padding-left: 15px;
    position: relative;
    margin-top: 9px;
}

.account-status::before {
    content: "";
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background-color: #24CB8D;
    position: absolute;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 100vh;
    background-color: rgba(156, 165, 236, 0.04);
}

.logo-container {
    height: 71px;
    padding: 19px 112px 15px 30px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.logo {
    width: 138px;
    height: 37px;
    display: flex;
    flex-direction: column;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.logo-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-title {
    position: relative;
    bottom: 7px;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.logo-text-year {
    position: relative;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    right: 2px;
}

.menu-navigation {
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.06);
}

.menu-item {
    margin-bottom: 13px;
}

.menu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 30px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

.menu-item:hover, .menu-drop-down-block:hover,
.drop-down-link:hover {
    color: #6F6EFF;
    cursor: pointer;
}

.drop-down-item {
    margin-right: 30px;
}

.menu-drop-down-block {
    display: flex;
    justify-content: space-between;
}

.menu-drop-down-block > img {
    transition: all 0.3s ease-out;
}

.menu-drop-down-list {
    margin-top: 18px;
    margin-bottom: 20px;
    width: 280px;
    display: none;
}

.menu-drop-down-show {
    display: block;
}

.menu-drop-down-item > .menu-link {
    line-height: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.menu-drop-down-item {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.menu-drop-down-item:hover {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
}

.menu-drop-down-item:hover::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: rgba(111, 110, 255, 1);
    box-shadow: 0 0 12px 0 rgba(111, 110, 255, 0.5);
}

.menu-drop-down-item:hover .menu-drop-down-link {
    color: rgba(255, 255, 255, 1);
}

.menu-drop-down-container {
    display: flex;
    align-items: center;
}

.menu-drop-down-img {
    position: absolute;
    left: 49px;
    height: 18px;
    width: 18px;
}

.rotate-icon {
    transform: rotate(180deg);
}

.menu-drop-down-img-00 {
    background-image: url("../img/icon-00.svg");
}

.menu-drop-down-item:hover .menu-drop-down-img-00 {
    background-image: url("../img/icon-00-active.svg");
}

.menu-drop-down-img-01 {
    background-image: url("../img/icon-01.svg");
}

.menu-drop-down-item:hover .menu-drop-down-img-01 {
    background-image: url("../img/icon-01-active.svg");
}

.menu-drop-down-img-02 {
    background-image: url("../img/icon-02.svg");
}

.menu-drop-down-item:hover .menu-drop-down-img-02 {
    background-image: url("../img/icon-02-active.svg");
}

.menu-drop-down-img-03 {
    background-image: url("../img/icon-03.svg");
}

.menu-drop-down-item:hover .menu-drop-down-img-03 {
    background-image: url("../img/icon-03-active.svg");
}

.menu-drop-down-img-04 {
    background-image: url("../img/icon-04.svg");
}

.menu-drop-down-item:hover .menu-drop-down-img-04 {
    background-image: url("../img/icon-04-active.svg");
}

.menu-drop-down-img-05 {
    background-image: url("../img/icon-05.svg");
}

.menu-drop-down-item:hover .menu-drop-down-img-05 {
    background-image: url("../img/icon-05-active.svg");
}

.menu-drop-down-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    margin-left: 92px;
    color: rgba(255, 255, 255, 0.5);
}

.mailing {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.mailing-container {
    display: flex;
    width: 100%;
    padding: 0 30px 31px;
    justify-content: space-between;
    align-items: center;
}

.mailing-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.switcher {
    position: relative;
    width: 42px;
    height: 22px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.switcher-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.switcher-label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

.switcher-label:after {
    right: 22px;
    left: auto;
}

.switcher-checkbox:checked + .switcher-label:after {
    background-color: #6F6EFF;
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    right: 2px;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 40px 55px 0;
}

.lectures-button {
    font-weight: 400;
    font-size: 12px;
    width: 86px;
    line-height: 17px;
    background-image: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    padding: 7px 12px 6px 13px;
    transition: all 0.3s ease-out;
}

.next-button, .back-button {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.next-button:hover, .back-button:hover {
    border-color: #6F6EFF;
    background-image: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
}

.weekly-quests-title {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 0.4;
}

.weekly-quests-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
}

.weekly-quests-header {
    display: flex;
    max-width: 1132px;
    align-items: center;
    justify-content: space-between;
}

.weekly-quests-header-buttons {
    display: flex;
    justify-items: flex-end;
    min-width: 161px;
    justify-content: space-between;
}

.all-weekly-quests-header-buttons {
    min-width: 462px;
}

.weekly-quests-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(255px, 275px));
    grid-template-rows: repeat(1, 294px);
    grid-gap: 11px;
    margin: 25px 0 60px;
}

.weekly-quest-card {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    overflow: hidden;
}

.weekly-quest-header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 144px;
    max-width: 100%;
    position: relative;
}

.weekly-quest-header-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    background-color:rgba(111, 110, 255, 1);
    border-radius: 3px;
    padding: 4px 5px 4px 6px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 16px;
}

.weekly-quest-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    margin-bottom: 10px;
}

.weekly-quest-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
}

.date {
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
}

.watch-button {
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    border-radius: 4px;
    background-image: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    padding: 10px 19px 10px 18px;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease-out;
}

.watch-button:hover, .lectures-button:hover {
    box-shadow: 0 0 7px rgba(111, 110, 255, 0.8);
}

.weekly-quest-footer {
    height: 61px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    border-top: 1px solid rgba(216, 216, 216, 0.1);
}

.weekly-quest-info {
    display: flex;
    flex-direction: column;
    height: 88px;
    padding: 15px 0 15px 15px;
}